apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cloudflare

resources:
- sealed-secrets.yaml
- deployment.yaml

images:
- name: cloudflared
  newName: cloudflare/cloudflared
  newTag: 2026.1.2
