apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
- configmap.yaml
- statefulset.yaml
- rbac.yaml
- service.yaml

images:
- name: prometheus
  newName: prom/prometheus
  newTag: v3.9.1
