apiVersion: v1
kind: ConfigMap
metadata:
  name: home-assistant-config
data:
  configuration.yaml: |
    # Loads default set of integrations. Do not remove.
    default_config:

    # HTTP configuration for reverse proxy
    http:
      use_x_forwarded_for: true
      trusted_proxies:
        - 10.0.0.0/8
        - 127.0.0.1
        - ::1
