apiVersion: apps/v1
kind: Deployment
metadata:
  name: home-assistant
  labels:
    app: controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: controller
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: controller
    spec:
      volumes:
        - name: config-directory
          persistentVolumeClaim:
            claimName: home-assistant-config
        - name: config-template
          configMap:
            name: home-assistant-config
      initContainers:
        - name: config-init
          image: busybox
          command:
            - sh
            - -c
            - |
              if [ ! -f /config/configuration.yaml ]; then
                echo "Copying initial configuration..."
                cp /config-template/configuration.yaml /config/configuration.yaml
              else
                echo "Configuration already exists, skipping..."
              fi
          volumeMounts:
            - mountPath: /config
              name: config-directory
            - mountPath: /config-template
              name: config-template
      containers:
        - name: controller
          image: home-assistant
          env:
            - name: TZ
              value: Asia/Tokyo
          ports:
            - name: http
              containerPort: 8123
              protocol: TCP
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 60
            httpGet:
              path: /
              port: http
              scheme: HTTP
            periodSeconds: 20
            successThreshold: 1
            timeoutSeconds: 2
          readinessProbe:
            failureThreshold: 3
            initialDelaySeconds: 60
            httpGet:
              path: /
              port: http
              scheme: HTTP
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          resources:
            limits:
              cpu: 200m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 128Mi
          volumeMounts:
            - mountPath: /config
              name: config-directory
