apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: home-assistant

resources:
- pvc.yaml
- configmap.yaml
- deployment.yaml
- service.yaml

images:
- name: home-assistant
  newName: ghcr.io/home-assistant/home-assistant
  newTag: 2026.2.3
