apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: web-public

resources:
- configmap.yaml
- deployment.yaml
- external-secrets.yaml
- service.yaml
- target-group-binding.yaml

images:
- name: grafana
  newName: grafana/grafana
  newTag: 12.3.2-security-01
