apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

configMapGenerator:
- name: oauth-proxy
  literals:
  - OAUTH2_PROXY_HTTP_ADDRESS='http://:8080'
  - OAUTH2_PROXY_UPSTREAMS='http://monitoring-jaeger:16686/'
  - OAUTH2_PROXY_PROVIDER=github
  - OAUTH2_PROXY_GITHUB_ORG="h3poteto"
  - OAUTH2_PROXY_GITHUB_USERS=h3poteto
  - OAUTH2_PROXY_SCOPE="user:email read:user read:org"
  - OAUTH2_PROXY_EMAIL_DOMAINS='*'
  - OAUTH2_PROXY_COOKIE_SECURE=true
  - OAUTH2_PROXY_REVERSE_PROXY=true

resources:
- external-secrets.yaml
- helm.yaml
- oauth-proxy.yaml
- service.yaml
- target-group-binding.yaml

images:
- name: oauth2-proxy
  newName: quay.io/oauth2-proxy/oauth2-proxy
  newTag: v7.14.2
