apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: sagisame-server

resources:
- configmap.yaml
- sealed-secrets.yaml
- persistent-volume-claim.yaml
- deployment.yaml
- service.yaml

images:
- name: sagisame-server
  newName: ghcr.io/h3poteto/sagisame-server
  newTag: sha-a9e586e461583aca0e981d47fbf85337f6dc915d
