apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: sagisame-server

resources:
- configmap.yaml
- sealed-secrets.yaml
- persistent-volume-claim.yaml
- deployment.yaml
- service.yaml

images:
- name: sagisame-server
  newName: ghcr.io/h3poteto/sagisame-server
  newTag: sha-533d3fe83da8ad1636ccf05accb317061ef9cfc8
