apiVersion: apps/v1
kind: Deployment
metadata:
  name: pleromaio-deployment
  labels:
    app: pleromaio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pleromaio
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: pleromaio
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "9568"
    spec:
      serviceAccountName: pleromaio-sa
      securityContext:
        fsGroup: 1000
      initContainers:
        - name: migration
          image: phoenix
          imagePullPolicy: Always
          args: ["/opt/pleroma/bin/pleroma_ctl", "migrate"]
          env:
            - name: AWS_REGION
              value: ap-northeast-1
            - name: OTEL_EXPORTER_ENDPOINT
              value: "http://monitoring-jaeger.monitoring.svc.cluster.local:4318"
          envFrom:
            - secretRef:
                name: pleromaio-env
          resources:
            requests:
              memory: 800Mi
              cpu: 200m
            limits:
              memory: 1800Mi
      containers:
        - name: phoenix
          image: phoenix
          imagePullPolicy: Always
          ports:
            - name: phoenix-port
              containerPort: 4000
              protocol: TCP
            - name: prometheus
              containerPort: 9568
              protocol: TCP
          env:
            - name: AWS_REGION
              value: ap-northeast-1
            - name: OTEL_EXPORTER_ENDPOINT
              value: "http://monitoring-jaeger.monitoring.svc.cluster.local:4318"
          envFrom:
            - secretRef:
                name: pleromaio-env
          resources:
            requests:
              memory: 800Mi
              cpu: 200m
            limits:
              memory: 1800Mi
          readinessProbe:
            httpGet:
              scheme: HTTP
              path: /.well-known/nodeinfo
              port: 4000
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 20
            successThreshold: 1
            failureThreshold: 10
          livenessProbe:
            httpGet:
              scheme: HTTP
              path: /.well-known/nodeinfo
              port: 4000
            initialDelaySeconds: 60
            periodSeconds: 60
            timeoutSeconds: 20
            successThreshold: 1
            failureThreshold: 3
        - name: nginx
          image: nginx
          imagePullPolicy: Always
          ports:
            - name: http-port
              containerPort: 80
              protocol: TCP
          env:
            - name: PHOENIX_HOST
              value: 127.0.0.1
            - name: PHOENIX_PORT
              value: "4000"
          resources:
            requests:
              memory: 100Mi
              cpu: 50m
            limits:
              memory: 100Mi
          readinessProbe:
            httpGet:
              scheme: HTTP
              path: /.well-known/nodeinfo
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 20
            successThreshold: 1
            failureThreshold: 10
          livenessProbe:
            httpGet:
              scheme: HTTP
              path: /.well-known/nodeinfo
              port: 80
            initialDelaySeconds: 60
            periodSeconds: 60
            timeoutSeconds: 20
            successThreshold: 1
            failureThreshold: 3
          lifecycle:
            preStop:
              exec:
                command: ["sh", "-c", "sleep 30"]
      terminationGracePeriodSeconds: 120
