---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  interval: 1m
  targetNamespace: monitoring
  chart:
    spec:
      chart: grafana
      version: '10.5.15'
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
      interval: 1m
  values:
    deploymentStrategy:
      type: Recreate
    service:
      enabled: true
      type: ClusterIP
    ingress:
      enabled: false
    persistence:
      enabled: true
      type: pvc
      storageClassName: longhorn
      existingClaim: grafana-storage
    admin:
      existingSecret: "grafana-env"
      userKey: "ADMIN_USER"
      passwordKey: "ADMIN_PASSWORD"
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Prometheus
            type: prometheus
            access: proxy
            url: http://monitoring-prometheus-server.monitoring.svc.cluster.local
