apiVersion: apps/v1
kind: Deployment
metadata:
  name: masudastream-deployment
  labels:
    app: masudastream
spec:
  replicas: 1
  selector:
    matchLabels:
      app: masudastream
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: masudastream
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "9568"
    spec:
      initContainers:
        - name: migration
          image: elixir
          imagePullPolicy: Always
          args: ["/app/bin/migrate"]
          envFrom:
            - secretRef:
                name: masudastream-env
          env:
            - name: DB_HOSTNAME
              value: nyaruko.cju8robzjmqc.ap-northeast-1.rds.amazonaws.com
            - name: OTEL_EXPORTER_ENDPOINT
              value: "http://monitoring-jaeger.monitoring.svc.cluster.local:4318"
      containers:
        - name: phoenix
          image: elixir
          imagePullPolicy: Always
          ports:
            - name: http-port
              containerPort: 4000
              protocol: TCP
            - name: prometheus-port
              containerPort: 9568
              protocol: TCP
          envFrom:
            - secretRef:
                name: masudastream-env
          env:
            - name: DB_HOSTNAME
              value: nyaruko.cju8robzjmqc.ap-northeast-1.rds.amazonaws.com
            - name: PORT
              value: "4000"
            - name: OTEL_EXPORTER_ENDPOINT
              value: "http://monitoring-jaeger.monitoring.svc.cluster.local:4318"
          resources:
            requests:
              memory: 300Mi
              cpu: 50m
            limits:
              memory: 1000Mi
          readinessProbe:
            httpGet:
              scheme: HTTP
              path: /
              port: 4000
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 20
            successThreshold: 1
            failureThreshold: 10
          livenessProbe:
            httpGet:
              scheme: HTTP
              path: /
              port: 4000
            initialDelaySeconds: 60
            periodSeconds: 60
            timeoutSeconds: 20
            successThreshold: 1
            failureThreshold: 3
          lifecycle:
            preStop:
              exec:
                command: ["sh", "-c", "sleep 30"]
      terminationGracePeriodSeconds: 120
