apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ice

configMapGenerator:
- name: turnserver-conf
  files:
    - turnserver.conf

resources:
- certificate.yaml
- deployment.yaml
- service.yaml

images:
- name: coturn
  newName: coturn/coturn
  newTag: 4.8.0
