apiVersion: v1
kind: Service
metadata:
  name: pleromaio-service
  namespace: web-public
spec:
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  type: ClusterIP
  selector:
    app: pleromaio

