apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: pi-hole

resources:
- pvc.yaml
- sealed-secrets.yaml
- deployment.yaml
- service.yaml
- ingress.yaml

images:
- name: pihole
  newName: ghcr.io/pi-hole/pihole
  newTag: 2025.11.1
