name: Build

on:
  push:
    branches: ["master"]
    tags:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cluster:
          - external
          - raspberry
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@v2.7.5
      - uses: allenporter/flux-local/action/test@8.1.0
        with:
          path: ${{ matrix.cluster }}
          enable-helm: true
